<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link rel="stylesheet" href='/static/style.css' / -->

		<link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<script src="/static/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

		<script src="/static/app.js"></script>

		<title>webham</title>
	</head>
	<body>
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<h4>Status <span id="status" class="badge text-bg-warning">INIT</span></h4>
				</div>
			</div>


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" id="Port" placeholder="Ports" aria-label="Ports">
						  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Set Port</button>
						  <ul class="dropdown-menu dropdown-menu-end" id="ports">
						  </ul>
						</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">

						<div class="input-group mb-3">
						  <input type="text" class="form-control" id="Rig" placeholder="Rig" aria-label="Rig">
						  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Set Rig</button>
						  <ul class="dropdown-menu dropdown-menu-end" id="rigs">
						  </ul>
						</div>

				</div>
			</div>


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" placeholder="Rate" aria-label="Rate" id="Rate" aria-describedby="basic-addon2">
						  <span class="input-group-text">Rate</span>
						</div>
				</div>
			</div>


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" placeholder="Data Bits" aria-label="Data Bits" id="DataBits" aria-describedby="basic-addon2">
						  <span class="input-group-text">Data Bits</span>
						</div>
				</div>
			</div>


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" placeholder="Stop Bits" aria-label="Stop Bits" id="StopBits" aria-describedby="basic-addon2">
						  <span class="input-group-text">Stop Bits</span>
						</div>
				</div>
			</div>


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" id="Parity" placeholder="Parity" aria-label="Parity">
						  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Set Parity</button>
						  <ul class="dropdown-menu dropdown-menu-end" id="paritys">
						  </ul>
						</div>
				</div>
			</div>


			<!-- div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" placeholder="Write Delay" aria-label="Write Delay" id="WriteDelay" aria-describedby="basic-addon2">
						  <span class="input-group-text">Delay</span>
						</div>
				</div>
			</div -->


			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<button type="button" class="btn btn-primary" id="savebtn">Save</button>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<h4>Rig control</h4>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<div class="input-group mb-3">
					  <input type="text" class="form-control" id="freq" placeholder="Frequency" aria-label="Frequency" aria-describedby="basic-addon2">
					  <div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="freqbtn">Set Frequency</button>
					  </div>
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" id="Mode" placeholder="Mode" aria-label="Mode">
						  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Set Mode</button>
						  <ul class="dropdown-menu dropdown-menu-end">
							  <li id="modebtn"><a class="dropdown-item" href="#">USB</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">LSB</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">CW</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">CWR</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">RTTY</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">AM</a></li>
							  <li id="modebtn"><a class="dropdown-item" href="#">FM</a></li>
						  </ul>
						</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<div class="input-group mb-3">
						<span class="input-group-text">WPM:</span>
						<input type="text" class="form-control" placeholder="wpm" aria-label="wpm" value="20" id="cwwpm">
						<span class="input-group-text">Phrase:</span>
					  	<input type="text" class="form-control" id="cwphrase" placeholder="CQ CQ DE UB3APP UB3APP" aria-label="cw" aria-describedby="basic-addon2">
					  	<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" id="cwbtn">Send CW</button>
					  	</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<div class="btn-group" role="group" aria-label="RX/TX">
					  <button type="button" id="txbtn" class="btn btn-outline-primary">TX</button>
					  <button type="button" id="rxbtn" class="btn btn-outline-primary">RX</button>
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="autoupdate">
					  <label class="form-check-label" for="autoupdate">
						Auto update
					  </label>
					</div>
				</div>
			</div>


		</div>
	</body>
</html>
